<!DOCTYPE html>
<html>
<head>
  <title>Sam's Homework</title>
</head>
<body>
<h1>About Sam(me)</h1>

  <div class="images">
    <img src="../images/horse.jpg">
    <img src="../images/skiing.jpg">
    <img src="../images/tennis.jpg">
  </div>

  <p>As you can see, I enjoy sports. Horse riding, skiing and tennis.</p>
  <p>The above pics are of me and my horse Lysi competing in a show jumping competion, me skiing with family in the French Alps and me messing around on the tennis court.</p>


</body>
</html>